<b><font size="6">Introduction to Python - Exercises</font><a class="anchor"><a id='toc'></a></b><br>

# <font size = "5"><font color='#BFD72F'>Python - Exercises</font><a class="anchor" id="python"></a>
 [Back to TOC](#toc)<br>

 **Exercise 0:** Write a Python program to display the first and third colors from the following list. <br><br>
color_list = ["Red","Green","White" ,"Black"]

In [45]:
color_list = ["Red","Green","White" ,"Black"]

print(f"{color_list[0]}, {color_list[3-1]}")

Red, White

 **Exercise 1:** Write a Python program to convert temperatures to and from celsius, fahrenheit. <br><br>
[ Formula : C = (F - 32) x 5/9  &emsp;(where C = temperature in celsius and F = temperature in fahrenheit) ]
<br><br>
<code>Expected Output:</code><br>
60°C is 140 in Fahrenheit <br>
45°F is 7 in Celsius <br>

In [25]:
def F_to_C(x):
    return (x-32)*(5/9)

In [26]:
def C_to_F(x):
    return (9/5)*x + 32

In [27]:
C_to_F(60)

140.0

In [28]:
F_to_C(45)

7.222222222222222

**Exercise 2:** Calculate the mean of the following list: <br>
<br>
mylist = [10,20,30,40,100]
<br>
<br>
<code>Expected Output:</code><br>
mean = 40

In [15]:
def mean(mylist):
    s = 0                   #  }
    for element in mylist:  #  }  
        s += element        #  } => sum(list)
    return s / len(mylist)

In [14]:
mylist = [10,20,30,40,100]
mean(mylist)

40.0

**Exercise 3:** Write a Python program to calculate a cat's age in cat's years.<br>
Note: For the first two years, a cat year is equal to 12.5 human years. After that, each cat year equals 6 human years.
<br><br>
<code>Expected Output:</code>
<br>
Input a cat's age in human years: 6                                    
The cat's age in cat's years is 49

In [12]:
def calculate_years(age):
    return min(2, age)*12.5 + max(0, age-2)*6

calculate_years(6)

49.0

**Exercise 4:** Write a Python program that prints all the numbers from 0 to 6 except 3 and 5.

In [32]:
c_n = [3,5]

for k in [i for i in range(0, 7) if i not in c_n]:
    print(k)

0
1
2
4
6

**Exercise 5:** Write a Python program which goes through all the numbers from 1 to 41. During this iterations, print "multiple of 4" for the multiples of four instead of the number and for the multiples of seven print "multiple of 7". For numbers which are multiples of both four and seven print "multiple both".
<br>
<code>Expected Output:</code><br>
1<br>
2<br>
3<br>
multiple of 4<br>
5<br>
6<br>
multiple of 7<br>
multiple of 4<br>
...

In [20]:
for i in range(1, 42):
    cA = (i % 4 == 0)
    cB = (i % 7 == 0)
    
    if cA and cB:
        print("multiple both")
    elif cA:
        print("multiple of four")
    elif cB:
        print("multiple of seven")
    else:
        print(i)

1
2
3
multiple of four
5
6
multiple of seven
multiple of four
9
10
11
multiple of four
13
multiple of seven
15
multiple of four
17
18
19
multiple of four
multiple of seven
22
23
multiple of four
25
26
27
multiple both
29
30
31
multiple of four
33
34
multiple of seven
multiple of four
37
38
39
multiple of four
41

**Exercise 6:** Print multiplication table from 1 to 10.
<br>

In [25]:
for i in range(1, 11):
    print("", end="| ")
    for j in range(1, 11):
        print(i*j, end=" | ")
    print()

| 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 |
| 2 | 4 | 6 | 8 | 10 | 12 | 14 | 16 | 18 | 20 |
| 3 | 6 | 9 | 12 | 15 | 18 | 21 | 24 | 27 | 30 |
| 4 | 8 | 12 | 16 | 20 | 24 | 28 | 32 | 36 | 40 |
| 5 | 10 | 15 | 20 | 25 | 30 | 35 | 40 | 45 | 50 |
| 6 | 12 | 18 | 24 | 30 | 36 | 42 | 48 | 54 | 60 |
| 7 | 14 | 21 | 28 | 35 | 42 | 49 | 56 | 63 | 70 |
| 8 | 16 | 24 | 32 | 40 | 48 | 56 | 64 | 72 | 80 |
| 9 | 18 | 27 | 36 | 45 | 54 | 63 | 72 | 81 | 90 |
| 10 | 20 | 30 | 40 | 50 | 60 | 70 | 80 | 90 | 100 |

# <font size = "5"><font color='#BFD72F'>Numpy - Exercises</font><a class="anchor" id="numpy"></a>
 [Back to TOC](#toc)<br>

In [30]:
import numpy as np

**Exercise 7:  Create a vector with values ranging from 15 to 31 and reverse it.**

In [57]:
np.arange(15,32)[::-1] #or
np.flip(np.arange(15,32))

array([31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15])

 **Exercise 8: Create the following matrix:**

[1,2,3]\
[4,5,6]\
[3,2,1]\
[6,5,4]

**and add a random constant vector to each row.** 

<br>

In [62]:
M = np.array([
    [1,2,3],
    [4,5,6],
    [3,2,1],
    [6,5,4]
])
np.random.seed(0) # Replicability purposes

rnd_vec2 = np.random.random(3)
(M+rnd_vec2)

array([[1.5488135 , 2.71518937, 3.60276338],
       [4.5488135 , 5.71518937, 6.60276338],
       [3.5488135 , 2.71518937, 1.60276338],
       [6.5488135 , 5.71518937, 4.60276338]])